<template name="tSidebar">
    <div id="sidebar">
        {{> TreeData options}}
    </div>
</template>

<template name="TreeData">
  <div class="panel panel-default">
    <div class="panel-body">
      {{> TreeView treeArgs }}
    </div>
  </div>
  <p class="alert alert-info">{{message}}</p>
  <p>Your country is missing? Just create a <a href="https://github.com/qnipp/meteor-treeview-demo/tree/master/server/methods.js">Github Pull Request</a>.</p>
</template>

<template name="Options">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Plugins</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: dnd"}}> Activate Drag &amp; Drop for moving and copying
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: contextmenu"}}> Create context menu
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: state"}}> Save state between reloads
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: sort"}}> Activate sort plugin
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: checkbox"}}> Show checkboxes to select nodes
        </label>
      </div>
      <h4>Actions</h4>
      <label class="checkbox-inline">
        <input type="checkbox" {{b "check: create, enable: contextmenu"}}>Create
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {{b "check: rename, enable: contextmenu"}}>Rename
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {{b "check: delete, enable: contextmenu"}}>Delete
      </label>
      <br/>
      <label class="checkbox-inline">
        <input type="checkbox" {{b "check: copy, enable: copymoveenable"}}>Copy
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {{b "check: move, enable: copymoveenable"}}>Move
      </label>
      <h4>Selected and root node</h4>
      <select class="form-control" {{b "options: selectOptions, optionsValue: id, optionsText: name, value: selectNode, defaultText: 'Preselect a node when loading (disable state plugin before)'"}}></select>
      <select class="form-control" {{b "options: selectOptions, optionsValue: id, optionsText: name, value: parentNode, defaultText: 'Select the parent to limit the shown nodes (should contain children)'"}}></select>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: openAll"}}> Open all nodes on loading
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: selectAll"}}> Select all nodes on loading
        </label>
      </div>
      <h4>Misc</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{b "check: getNodes"}}> Use alternative <code>getNodes</code> function
        </label>
      </div>
      <button class="btn btn-default" {{b "click: resetData()"}}>Reset data</button>
    </div>
  </div>
</template>

<template name="Configuration">
  <div><textarea class="form-control" style="font-size: 80%; font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;" {{b "text: configurationString, attr: {rows: configurationRows}"}} readonly></textarea></div>
</template>
